# Data files
data/
logs/
*.log

# Virtual environments
venv/
env/

# Environment variables and secrets
.env
.streamlit/secrets.toml

# Python cache files
__pycache__/
*.pyc
*.pyo

# Development environments
.devcontainer/

# IDE specific files
.vscode/

# Operating system files
.DS_Store